/* ----- GENERAL ----- */

@font-face {
    font-family: 'FilsonPro';
    src: url('assets/fonts/Mostardesign - FilsonProMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

/* ----- LOADER ----- */

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    width: auto; /* Ajustez la taille selon votre besoin */
    height: auto;
    animation: wave 1.5s infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0) rotate(0deg) scale(1);
    }
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
}

/* ----- CARTE ----- */

.leaflet-container {
    max-width: 100%;
    max-height: 100%;
}

#map {
    width: 100%;
    height: 100vh;
    /* transition: width 0.5s; */
}


/* Message occutation couche captage */
.layer-hidden-control {
    background-color: white;
    border: 1px solid rgb(105, 105, 105);
    color:rgb(105, 105, 105);
    border-radius: 5px;
    padding: 7px;
    font-size: 12px;
    opacity: 0.8;
}

/* -- Deux boutons panneaux fermés */
.openbtn {
    background-color: white;
    border-color: #007c8e;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: 0.3s;
}



/* ----- PANNEAU LATERAL DROIT ----- */

/* Panneau rabattable */
#panel {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    padding-top: 5px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    background-color: #007c8e;
}

/* Contenu du panneau */
#panel-content {
    padding: 0px;
    padding-top: 5px;
}

/* -- Boutons fermés -- */
.openbtn-right {
    border-radius: 12px 0 0 12px;
    border-right: none; /* Supprimer la bordure à droite */
}

/* Boutons pour ouvrir/fermer le panneau */
#bt_demarches {
    top: 20px;
    right: 0px;
    position: fixed;
}

#bt_captages{
    top: 90px;
    right: 0px;
    position: fixed;
}

#bt_demarches:hover, #bt_captages:hover {
    padding-right: 20px;
}

/* Logo dans bouton */
.logo_lateral{
    height : 50px;
    width : 50px;
}

/* --- POPUP--- */

/* -- Navigation -- */
.bt_onglet {
    font-family: 'FilsonPro', sans-serif;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    border-radius: 25px 25px 0 0;
    border: 2px solid #007c8e;
    cursor: pointer;
    width: 148px;
}

.bt_onglet.actif {
    border-bottom : none;
}

.titre_onglet{
    color: #007c8e;
    font-weight: bold;
}

.onglet {
    display: flex;
    gap: 4px; /* Espace entre les boutons */
}

/* Logo des entêtes des onglets */
.image_onglet{
    height : 40px;
    width : 40px;   
    margin-right: 5px; /* Espace entre l'image et le texte */
}

/* -- Contenu des onglets -- */

fieldset {
    font-family: 'SourceSansPro', sans-serif;
    border: 2px solid #007c8e;
    border-top : none;
    margin: 0px;
    background-color : white;
    height : 100%;
    padding : 5px 0 10px 0;
    overflow-y: auto; /* Affiche une barre de défilement verticale si le contenu dépasse */
    border-radius: 0 0 10px 10px;
}

/* Popup Démarche */

.popup_demarche_titre {
    font-family: 'FilsonPro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    margin : 10px 0 10px 0;
}

.popup_demarche_partie {
    font-family: 'FilsonPro', sans-serif;
    display: block;
    width: 100%;
    background-color: rgb(108,178,188); /* Couleur de fond, vous pouvez la changer selon vos besoins */
    color: white; /* Couleur du texte */
    padding: 5px 0; /* Padding en haut et en bas */
    margin: 10px 0; /* Espacement au-dessus et en dessous du bandeau */
    text-align: center;
    /* font-weight: bold; */
}

.popup_info {
    color: #007c8e;
    display: block;
    padding : 0 3px 0 3px;
}

.popup_info2 {
    color: white;
    display: block;
    padding : 0 3px 0 3px;
}

.popup_demarche_titre_champs{
    font-family: 'FilsonPro', sans-serif;
    display: block;
    padding : 0 3px 0 3px;
    color: #919191;
}

.popup_demarche_titre_champs2{
    font-family: 'FilsonPro', sans-serif;
    display: block;
    padding : 0 3px 0 3px;
    color: white;
}

#more_info{
    background-color:rgb(244,226,186);
}

#more_info2{
    background-color: #D6970A;
}

.more_info_button {
    font-family: 'FilsonPro', sans-serif;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#more_info_button{
    color: #d6970a;
}

#more_info_button2{
    color: white;
}

.more_info_button::after {
    content: '▽';
    font-size: 1em;
    margin-left: 10px; /* Espace entre le texte et la flèche */
    transition: transform 0.3s;
}

.more_info.open .more_info_button::after {
    transform: rotate(180deg);
}

.more_info_content {
    display: none;
}

.more_info.open .more_info_content {
    display: block;
}

.no_demarche{
    text-align : center;
    padding: 2px;
    margin : 10px 3px 10px 3px;
}

.demarche_non_ouvrage{
    color: #d6970a ;
    font-weight: bold;
}

a.lien_contact {
    font-family: 'FilsonPro', sans-serif;
    color: #e17a0c; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
    padding: 10px 15px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond */
    border: 1px solid #e17a0c; /* Bordure */
    display: inline-block; /* Pour gérer les marges et le padding */
    transition: background-color 0.3s, color 0.3s; /* Transitions pour le survol */
}

a.lien_contact:hover {
    background-color: #e17a0c; /* Couleur de fond au survol */
    color: #ffffff; /* Couleur du texte au survol */
}

a.lien_contact:active {
    background-color: #b65f02; /* Couleur de fond lors du clic */
}

a.demarche_link {
    font-family: 'SourceSansPro', sans-serif;
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
    display: inline-block; /* Pour gérer les marges et le padding */
    transition: background-color 0.3s, color 0.3s; /* Transitions pour le survol */
}

a.demarche_link:hover {
    color: #975106; /* Couleur du texte au survol */
}

a.demarche_link:active {
    color: #3f2203; /* Couleur du texte au survol */
}

.demarche_associee{
    color: #00728e;
    display: block;
    padding : 0 3px 0 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transitions pour le survol */
}
.demarche_associee:hover {
    color: #004152; /* Couleur du texte au survol */
}

/* Popup Captage */

.captage-info {
    position: relative;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 5px solid rgb(245,227,187);
}

.captage-info.expanded {
    background-color: white;
    padding: 0px;
}

.captage-info p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captage-title{
    font-family: 'FilsonPro', sans-serif;
    color: #d6970a;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245,227,187);
    padding: 2px;
    cursor: pointer;
}

.captage-title-text{
    text-align: center;
}

.captage_nom_champ{
    font-family: 'FilsonPro', sans-serif;
    display: block;
    width: 100%;
    background-color: rgb(108,178,188); /* Couleur de fond, vous pouvez la changer selon vos besoins */
    color: white; /* Couleur du texte */
    padding: 3px 0px; /* Padding en haut et en bas */
    margin: 0px; /* Espacement au-dessus et en dessous du bandeau */
    text-align: center;
    /* font-weight: bold; */
}

.captage_champ_info{
    font-size: 0.9rem;
    color: #007c8e;
    display: block;
    padding : 3px;
}

.captage-details {
    display: none;
}

.captage-info.expanded .captage-details {
    display: block;
}

.captage-info .toggle-icon::before {
    content: '▼';
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.captage-info.expanded .toggle-icon::before {
    transform: rotate(-180deg);
}

.captage_more_info{
    background-color:#0c4f670e;
}

.captage_more_info_button {
    font-family: 'FilsonPro', sans-serif;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c4e67;
    color: white;
}

.captage_more_info_button::after {
    content: '▽';
    font-size: 1em;
    margin-left: 10px; /* Espace entre le texte et la flèche */
    transition: transform 0.3s;
}

.captage_more_info.open .captage_more_info_button::after {
    transform: rotate(180deg);
}

.captage_more_info_content {
    display: none;
}

.captage_more_info.open .captage_more_info_content {
    display: block;
}

.captage_more_info_champ{
    font-family: 'FilsonPro', sans-serif;
    display: block;
    padding : 0 3px 0 3px;
    color: #474747;
}

a.captage_link {
    font-family: 'SourceSansPro', sans-serif;
    color: #e17a0c; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
    display: inline-block; /* Pour gérer les marges et le padding */
    transition: background-color 0.3s, color 0.3s; /* Transitions pour le survol */
}

a.captage_link:hover {
    color: #975106; /* Couleur du texte au survol */
}

a.captage_link:active {
    color: #3f2203; /* Couleur du texte au survol */
}

/* ----- PANNEAU LATERAL GAUCHE ----- */

/* Boutons pour ouvrir/fermer le panneau */
/* -- Boutons fermés -- */
.openbtn-left {
    border-radius: 0 12px 12px 0;
    border-left: none; /* Supprimer la bordure à droite */
}

#bt_recherche {
    bottom: 90px;
    left: 0px;
    position: fixed;
}

#bt_legende{
    bottom: 20px;
    left: 0px;
    position: fixed;
}

#bt_recherche:hover, #bt_legende:hover {
    padding-left: 20px;
}

/* Panneau rabattable */
#panel-left, #panel-right {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    /* transition: 0.5s; */
    z-index: 1000;
    padding: 0;
    padding-top: 5px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}
#panel-left {
    left: 0;
    background: #007c8e;
}
#panel-right{
    right: 0;
    background: #007c8e;
}

.bt_fermer {
    border: 2px solid white;
    border-radius : 2px;
    cursor: pointer;
}

#bt_fermer-right {
    margin-left : 5px;
    background-color: transparent;
    color: white;
}

#bt_fermer-left {
    margin-right : 5px;
    background-color: transparent;
    color: white;
}

.btContainer-left{
    display: flex;
    align-items: center;
    justify-content: right;
}


/* -- Barre de recherche --  */

.search-container{
    font-family: 'SourceSansPro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    width : calc(100% - 10px) ;
}

/* Empêche la bordure de changer lorsqu'on clique ou écrit dans le champ */
input:focus {
    border-color: inherit; /* Conserve la couleur de bordure existante */
    outline: none; /* Supprime le contour bleu par défaut dans certains navigateurs */
}

#searchInput{
    font-family: 'FilsonPro', sans-serif;
    display: block;
    text-align: center;
    border: 2px solid #007c8e;
    border-radius : 3px;
    padding: 5px 30px;
    width : 100%;
    box-sizing: border-box; /* prise en compte du padding et de la marge pour la largeur totale */
}

.clear-button {
    position: absolute;
    right: 15px; /* Positionne la croix à droite */
    top: 39px; /* Centrage vertical */
    cursor: pointer;
    font-size: 18px;
    color: #007c8e; /* Couleur de la croix */
    display: none; /* Caché par défaut */
}

.search-loupe{
    position: absolute;
    left: 10px; /* Positionne la croix à droite */
    top: 39px; /* Centrage vertical */
    width: 25px;
}

/* Affiche la croix lorsque le champ de recherche n'est pas vide */
#searchInput:not(:placeholder-shown) ~ #clearSearch {
    display: inline; 
}
#searchInput:not(:placeholder-shown) ~ #results {
    display: block; 
}
#searchInput:not(:placeholder-shown){
    border-bottom: 0px;
    border-radius: 3px 3px 0 0;
}

#results{
    display: none;
    font-size: 0.85rem;
    border: 2px solid #007c8e;
    border-top: 0px;
    padding: 4px;
    border-radius: 0 0 3px 3px;
    background-color: white;
    overflow-y: auto;
    max-height: 40vh;
}

.communResult{
    display: block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 2px;
}

.AACResult{
    color : #576b35;
    /* border-top: 2px solid #576b35;
    border-bottom: 2px solid #576b35;
    border-left: none;
    border-right: none;*/
}
.AACResult:hover{
    background-color : #576b35;
    color:white;
}
.autreDemarcheResult{
    color : #007c8e;
    /* border: 3px solid #007c8e; */
}
.autreDemarcheResult:hover{
    background-color : #007c8e;
    color:white;
}
.captageSensibleResult{
    color : #eeba00;
    /* border: 3px solid #eeba00; */
}
.captageSensibleResult:hover{
    background-color : #eeba00;
    color:white;
}
.captagePrioritaireResult{
    color : #0c4e67;
    /* border: 3px solid #0c4e67; */
}
.captagePrioritaireResult:hover{
    background-color : #0c4e67;
    color:white;
}

/* --- LEGENDE --- */

#legend {
    background: white;
    margin: 5px;
    padding: 10px;
    bottom: 10px;
    border: 2px solid #007c8e;
    border-radius: 3px;
}

.legend-element {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 0.8rem;
}

.legend-element span {
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius : 3px;
}

.legend-arbitraire {
    margin-left : 10px;
}

.legend-goutte {
    width: 30px;
    height: auto;
    margin-right: 2px;
}